<?php
  /**
   * General WeatherBot settings.
   * 
   * Set `$bot_slashcommand` and `$bot_name` to their matching Slack bot values.
   *
   * Set `$bot_historyStarts` to the earliest (or desired earliest) reported history for the station in scope. This acts as a safety check/'beginning of epoch' for the bot history; timestamp requests _before_ this point will be ignored.
   */
  date_default_timezone_set('America/Chicago');
  $bot_slashcommand = '/tempest';
  $bot_name = 'Tempest WeatherBot';
  $bot_historyStarts = '2010-01-01';

  // Version vanity string and debug flag
  $bot_version = '2022-04-24';
  $debug_bot = false;

  // Sets the default API response to be the name of the Bot app, not the Bot user.
  $slackbot_details = array('username' => $bot_name);

  // Set the display "labels" for different measurements:
  $tempUnitLabel = 'ºF';
  $windUnitLabel = 'MPH';
  $pressureUnitLabel = '"';
  $precipUnitLabel = '"';
  $distanceUnitLabel = 'mi';
  $solarRadLabel = 'W/m²';

  /**
   * Associative array of conditions to their matching Slack emoji codes
   * 
   * This information allows non-private bot forecast responses to dynamically change the Bot icon
   *  based on the forecast conditions, and is set to emoji available by default in Slack.
   */
  $slackConditionIcons = array('clear-day' =>':sunny:',
    'clear-night' =>':moon:',
    'cloudy' =>':cloud:',
    'foggy' =>':fog:',
    'partly-cloudy-day' =>':sun_small_cloud:',
    'partly-cloudy-night' =>':moon:',
    'possibly-rainy-day' =>':rain_cloud:',
    'possibly-rainy-night' =>':rain_cloud:',
    'possibly-sleet-day' =>':snow_cloud:',
    'possibly-sleet-night' =>':snow_cloud:',
    'possibly-snow-day' =>':snow_cloud:',
    'possibly-snow-night' =>':snow_cloud:',
    'possibly-thunderstorm-day' =>':lightning_cloud:',
    'possibly-thunderstorm-night' =>':lightning_cloud:',
    'rainy' =>':rain_cloud:',
    'sleet' =>':snow_cloud:',
    'snow' =>':snowflake:',
    'thunderstorm' =>':thunder_cloud_and_rain:',
    'windy' =>':wind_blowing_face:',);
?>