<?php
  /**
   * App information and keys from Slack App and Bot account
   * 
   * Keys are used to handle request validation (not yet implemented in this bot code).
   */
  $slackAppID = 'YourSlackAppID';
  $slackClientID = 'YourSlack.ClientID';
  $slackSecret = 'YourSlackSecret';
  $signingSecret = 'YourSigningSecret';
  $verificationToken = 'YourVerificationToken';

  // The Slack Bot OAuth Token
  $botOAuthToken = 'xoxb-your-bot-oauth-token-goes-here';

  /**
   * API endpoints for the bot and their affiliated OAuth scopes for record
   */ 
  $slackPostMessage = 'https://slack.com/api/chat.postMessage';
  // `chat.postMessage` requires scope `chat:write` for bot token
  $slackGetUsers = 'https://slack.com/api/users.list';
  // `users.list` requires scope `users:read` for bot token
?>